{% include 'head.html' %}
<div id=pageCivicApps>


<h1 class=title translate=yes> Civic Participation Software </h1>

<div class=appsContent>

    <h2> Types of civic feedback apps </h2>
    <p> Web applications that enable citizen participation in government, can be grouped into the following categories. </p>
    <ul>

        <li class=appEntry>
            <div class=appName> Feedback Aggregation </div>
            <div class=appDescription>
                Platforms that consolidate citizen feedback from social media, surveys, community forums, and so on.
                They present aggregated sentiment and opinions to government officials, to help with planning or campaigning.
            </div>
        </li>

        <li class=appEntry>
            <div class=appName> Reporting </div>
            <div class=appDescription>
                These apps allow citizens to report public infrastructure problems to relevant local authorities.
                Users can provide specific details, attach photos or videos, and track the progress of their reported issues.
            </div>
        </li>

        <li class=appEntry>
            <div class=appName> Community Engagement </div>
            <div class=appDescription>
                These apps enable citizens to participate in discussions, polls, or surveys related to local issues.
                Participants may share their opinion of options proposed by the city, or suggest new options,
                so that city leaders can provide better quality service.
            </div>
        </li>

        <li class=appEntry>
            <div class=appName> Planning </div>
            <div class=appDescription>
                Planning apps involve citizens in government project planning,
                collecting citizen opinions and suggestions about project proposals,
                so that the government can prevent shortcomings before implementing the project.
            </div>
        </li>

        <li class=appEntry>
            <div class=appName> Deliberation </div>
            <div class=appDescription>
                Deliberation apps provide a structured way for users to exchange opinions and supporting reasons.
                The deliberation process is often used to identify priorities or brainstorm solutions, 
                to help government planners create more useful designs.
            </div>
        </li>

        <li class=appEntry>
            <div class=appName> Public Safety </div>
            <div class=appDescription>
                Public safety apps allow users to report suspected crimes, and receive alerts or guidance about local incidents,
                to increase the effectiveness of law enforcers.
            </div>
        </li>

        <li class=appEntry>
            <div class=appName> Transportation </div>
            <div class=appDescription>
                Transportation apps collect citizen feedback to help improve transportation infrastructure and transit services.
                Users can report problems, request improvements, or participate in surveys about how to prioritize transportation resources.
            </div>
        </li>

        <li class=appEntry>
            <div class=appName> Environment </div>
            <div class=appDescription>
                These apps allow citizen participation in environmental efforts,
                and allow both citizens and government to better respond to environmental hazards.
                Users can discover environment status, report environmental concerns, or track environment remediation projects.
            </div>
        </li>

        <li class=appEntry>
            <div class=appName> Budget </div>
            <div class=appDescription>
                Budget apps involve citizens in the budget allocation processes of their local governments.
                They allow users to review spending, and to propose budget priorities which meet their needs.
            </div>
        </li>

        <li class=appEntry>
            <div class=appName> Open Data </div>
            <div class=appDescription>
                These apps publish government data or public records, enhancing transparency and accountability.
            </div>
        </li>

        <li class=appEntry>
            <div class=appName> Civic Awareness </div>
            <div class=appDescription>
                These apps aim to raise awareness among citizens about civic rights, responsibilities, and government processes.
                Civic awareness apps may inform citizens about local elections, voter registration process, or civic events.
            </div>
        </li>

    </ul>



    <h2> Application criteria </h2>
    <p> Here are attributes to consider when evaluating civic participation apps. </p>
    <ul>
        <li>
            <div class=appName> Flexible feedback </div>
            <div class=appDescription> Allows participants to express their ideas completely, without excessive restriction. </div>
        </li>

        <li>
            <div class=appName> Useful feedback </div>
            <div class=appDescription> Encourages participants to provide feedback that is on topic and actionable. </div>
        </li>
        <li>
            <div class=appName> Educational </div>
            <div class=appDescription> Participants are shown information relevant to the question at hand, before being asked questions. </div>
        </li>
        <li>
            <div class=appName> Deliberative </div>
            <div class=appDescription> Participants are encouraged to engage in an exchange of reasons before making a final opinion. </div>
        </li>
        <li>
            <div class=appName> Ease of use </div>
            <div class=appDescription> Does not confuse participants, uses their time efficiently, and allows them to stop whenever they need to. </div>
        </li>
        <li>
            <div class=appName> Accessibility </div>
            <div class=appDescription> Usable by participants with restricted sensory or motor abilities. </div>
        </li>
        <li>
            <div class=appName> Locale support </div>
            <div class=appDescription> Usable by participants speaking a variety of languages, in a variety of countries. </div>
        </li>
        <li>
            <div class=appName> Privacy </div>
            <div class=appDescription> Does the app risk revealing participants identity or other sensitive information? </div>
        </li>
        <li>
            <div class=appName> Security </div>
            <div class=appDescription> Does the app risk exposing private data, or risk unauthorized changes to data? </div>
        </li>
        <li>
            <div class=appName> Authentication </div>
            <div class=appDescription> Can the app distinguish intended users from party crashers? </div>
        </li>
        <li>
            <div class=appName> Reliability </div>
            <div class=appDescription> The app is almost never broken. </div>
        </li>
        <li>
            <div class=appName> Price </div>
            <div class=appDescription> Both initial and ongoing costs. </div>
        </li>
        <li>
            <div class=appName> Customer support </div>
            <div class=appDescription> Is anyone available to help you use the app?  This may include either paid employees or a user forum. </div>
        </li>
    </ul>



    <h2> Applications: Reporting </h2>
    <ul class=appLinkList>
        <li class=appEntry>
            <div class=appName><a href='https://www.civicplus.com/seeclickfix' target=_blank> See Click Fix </a></div>
            <div class=appDescription> Features: Reporting </div>

        </li>
    </ul>



    <h2> Applications: Community Engagement Surveys </h2>
    <ul class=appLinkList>
        <li class=appEntry>
            <div class=appName><a href='https://www.civocracy.com/community-space' target=_blank> Civocracy </a></div>
            <div class=appDescription> Features: Chat, surveys, voting, quizzes, project tracking </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://www.google.com/forms/about/' target=_blank> Google Forms </a></div>
            <div class=appDescription> Features: Surveys  </div>
        </li>
     
        <li class=appEntry>
            <div class=appName><a href='https://www.surveymonkey.com' target=_blank> Survey Monkey </a></div>
            <div class=appDescription> Features: Surveys  </div>
        </li>
     
        <li class=appEntry>
            <div class=appName><a href='https://www.delib.net' target=_blank> Citizen Space </a></div>
            <div class=appDescription> Features: Geographic surveys </div>
        </li>
    </ul>



    <h2> Applications: Planning </h2>
    <ul class=appLinkList>
        <li class=appEntry>
            <div class=appName><a href='https://www.citizenlab.co' target=_blank> CitizenLab </a></div>
            <div class=appDescription> Features: Surveys, votes, request for proposals, ranking, participatory budgeting </div>
            <div class=appTags> <div class=appTag data-level=high>Deliberative</div> </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://www.thoughtexchange.com' target=_blank> ThoughtExchange </a></div>
            <div class=appDescription> Features: Proposal / assertion voting & clustering </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://ideascale.com' target=_blank> IdeaScale </a></div>
            <div class=appDescription> Features: Proposals and comments </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://pol.is' target=_blank> Polis </a></div>
            <div class=appDescription>
                In response to a request, make statements that others dis/agree with.
                Polis can be used as a preliminary exploration of user assumptions, before deliberation.
                <div class=appTags> <div class=appTag data-level=high>Free</div> </div>
            </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://www.konveio.com' target=_blank> Konveio </a></div>
            <div class=appDescription> Features: Documents, comments, surveys, forums </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://granicus.com/solution/govdelivery/engagementhq' target=_blank> Bang The Table / Granicus Engagement HQ </a></div>
            <div class=appDescription> Features: Polls, surveys, forums, request for proposals, budget, maps </div>
            <div class=appTags> <div class=appTag data-level=high>Moderated</div> </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://the-hive.com.au' target=_blank> Hive </a></div>
            <div class=appDescription> Features: Budget, maps, request for proposals, survey / form / polls, comment forums, video meeting </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://home.oursay.org' target=_blank> Our Say </a></div>
            <div class=appDescription> Features: Maps, request for proposals, comments, forums, polls / surveys </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://loomio.com' target=_blank> Loomio </a></div>
            <div class=appDescription> Features: Polls, discussion, proposals with pro & cons </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://groupmap.com' target=_blank> GroupMap </a></div>
            <div class=appDescription> Features: Idea directed-graphs, polls, proposals with pros & cons </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://about.stormz.me' target=_blank> Stormz </a></div>
            <div class=appDescription> Features: Proposals with pros & cons & ratings, polls </div>
        </li>
    </ul>



    <h2> Applications: Deliberation </h2>
    <ul class=appLinkList>
        <li class=appEntry>
            <div class=appName><a href='https://kialo.com' target=_blank> Kialo </a></div>
            <div class=appDescription> Features: Proposal pros & cons, with reason-voting, and recursive reason sub-debates </div>
            <div class=appTags> <div class=appTag data-level=high>Free</div> <div class=appTag data-level=high>Deliberative</div> </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://consider.it' target=_blank> Consider.it </a></div>
            <div class=appDescription> Features: Proposal pros & cons, with reason-voting, and yes/no sliders </div>
            <div class=appTags> <div class=appTag data-level=high>Freemium</div> <div class=appTag data-level=high>Deliberative</div> </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://converj.net' target=_blank> Converj </a></div>
            <div class=appDescription> Features: Proposal pros & cons, with reason-voting, deliberative forms, and participatory budgeting </div>
            <div class=appTags> <div class=appTag data-level=high>Free</div> <div class=appTag data-level=high>Deliberative</div> <div class=appTag data-level=high>Private</div> </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://citizens.is/idea-generation-policy-crowd-sourcing' target=_blank> Iceland's Citizens Foundation </a></div>
            <div class=appDescription> Features: Proposal pros & cons, with reason-voting </div>
            <div class=appTags> <div class=appTag data-level=high>Free</div> <div class=appTag data-level=high>Deliberative</div> </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://www.tricider.com' target=_blank> Tricider </a></div>
            <div class=appDescription> Features: Proposal pros & cons with reason-voting </div>
            <div class=appTags> <div class=appTag data-level=high>Free</div> <div class=appTag data-level=high>Deliberative</div> </div>
        </li>
    </ul>



    <h2> Applications: Government services </h2>
    <ul class=appLinkList>
        <li class=appEntry>
            <div class=appName><a href='https://www.tylertech.com/products/my-civic' target=_blank> Tyler Technologies' My Civic </a></div>
            <div class=appDescription> Government services portal </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://opengov.com/products' target=_blank> Open Gov, Open City Hall </a></div>
            <div class=appDescription> Government services portal, including surveys, budgeting </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://metagov.org' target=_blank> Metagovernance Project </a></div>
            <div class=appDescription> Governance APIs </div>
        </li>
    </ul>



    <h2> Applications: Forums </h2>
    <ul class=appLinkList>
        <li class=appEntry>
            <div class=appName><a href='http://deliberatorium.mit.edu' target=_blank> Deliberatorium </a></div>
            <div class=appDescription> Features: Pro/con reason tree </div>
            <div class=appTags> <div class=appTag data-level=high>Free</div> <div class=appTag data-level=low>No access control</div> </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://reddit.com' target=_blank> Reddit </a></div>
            <div class=appDescription> Features: Comment tree, with voting </div>
            <div class=appTags> <div class=appTag data-level=high>Free</div> </div>
        </li>
<!--
        <li class=appEntry>
            <div class=appName><a href='http://opinion.berkeley.edu/' target=_blank> Opinion space </a></div>
            <div class=appDescription> Features: Start answering values questions, then display their comments located in value-space </div>
            <div class=appTags> <div class=appTag data-level=low>Closed</div> </div>
        </li>
-->
    </ul>


    <h2> Advisory groups </h2>
    <ul class=appLinkList>
        <li class=appEntry>
            <div class=appName><a href='https://participedia.net' target=_blank> Participedia </a></div>
            <div class=appDescription> Listing of participatory democracy methods & cases </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='http://participationfactory.com' target=_blank> Participation Factory </a></div>
            <div class=appDescription> Consulting for agenda-setting, planning, surveys, participatory budgeting </div>
        </li>
    </ul>


<!--
    <h2> Advocates </h2>
    <ul class=appLinkList>
        <li class=appEntry>
            <div class=appName><a href='https://demnext.org' target=_blank> DemocracyNext </a></div>
            <div class=appDescription> Advocates for citizen assemblies making decisions via sortition </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://www.radicalxchange.org' target=_blank> RadicalxChange </a></div>
            <div class=appDescription> Advocates voting with intensity measure </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://www.peoplepowered.org' target=_blank> People Powered </a></div>
            <div class=appDescription> Advocates participatory democracy: budgeting, proposals, assemblies... </div>
        </li>

        <li class=appEntry>
            <div class=appName><a href='https://cip.org' target=_blank> Collective Intelligence Project  </a></div>
            <div class=appDescription> Collective Intelligence Project researches governance, "alignment assemblies" </div>
        </li>
    </ul>
-->

</div>
<div class=tryBottomDiv><a href='/'> Try {{SITE_NAME}} </a></div>


</div>
{% include 'foot.html' %}
