{% include 'head.html' %}
<div id=pageGlossary>


<h1 class=title translate=yes> Vocabulary </h1>

<p> Here is a brief summary of key terms related to online group decision making. </p>

<div class=glossaryContent>


    <h2> Civic participation </h2>

    <div class=glossaryEntry>
        <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Participatory_democracy' target=_blank> Participatory democracy </a></div>
        <div class=glossaryDefinition>
            Involving citizens in government, through a wide variety of methods.
            The goals of civic participation include greater transparency, more citizen support, and better targeted plans.
        </div>
    </div>

    <ul class=termLinkList>
        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Direct_democracy' target=_blank> Direct democracy </a></div>
            <div class=glossaryDefinition>
                Allowing all citizens to vote on proposed government legislation, rather than having elected representatives decide.
                Common examples include referendums or ballot propositions,
                which often address issues that legislators did not prioritize.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Liquid_democracy' target=_blank> Liquid democracy </a></div>
            <div class=glossaryDefinition>
                A combination of direct-voting and representative-voting, wherein citizens are entitled to vote on
                proposed legislation, but can choose to delegate their vote to any other citizen.
                Liquid democracy aims for the responsiveness of direct democracy,
                and the expertise and time-savings of representative democracy.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Parliamentary_informatics' target=_blank> Parliamentary informatics </a></div>
            <div class=glossaryDefinition>
                Providing online information about government legislation in progress, to improve transparency and efficiency.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/E-democracy' target=_blank> E-democracy </a></div>
            <div class=glossaryDefinition>
                Moving parts of the government legislation process online.
                E-democracy projects often try to decentralize governance and increase citizen involvement.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/E-government' target=_blank> E-government </a></div>
            <div class=glossaryDefinition>
                Providing traditional government services over online channels.
                E-government attempts to offer more government services, more efficiently, through information technology.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/E-governance' target=_blank> E-governance </a></div>
            <div class=glossaryDefinition>
                E-governance includes both implementing e-government, and expanding government services and infrastructure to 
                support more online citizen participation in government.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Citizen_sourcing' target=_blank> Citizen sourcing </a></div>
            <div class=glossaryDefinition>
                Crowd-sourcing some of the functions of government, such as collecting information about a city, 
                collecting citizen preferences about government policy, or brainstorming methods to execute government plans.
                The purpose of citizen sourcing is usually to increase the speed or lower the cost of performing those government tasks.
            </div>
        </li>

    </ul>



    <h2> Group decision methods </h2>

    <div class=glossaryEntry>
        <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Deliberation' target=_blank> Deliberation </a></div>
        <div class=glossaryDefinition>
            Comparing decision options, especially using facts, logic, & reason, 
            in order to choose an option that best achieves participants' goals.
        </div>
    </div>

    <ul class=termLinkList>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Online_deliberation' target=_blank> Online deliberation </a></div>
            <div class=glossaryDefinition>
                Moving parts of the deliberation process to online software,
                with the goal of improving the quality of decisions, or improving ease of participation.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Deliberative_democracy' target=_blank> Deliberative democracy </a></div>
            <div class=glossaryDefinition>
                A process for making group decisions, starting with a phase of information sharing, followed by debate, then decision.
                Deliberative democracy has been shown to increase knowledge and mutual understanding among participants.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Deliberative_opinion_poll' target=_blank> Deliberative opinion poll </a></div>
            <div class=glossaryDefinition>
                A survey process where a group of participants, usually a <a href='#miniPublic'>mini public</a>, are polled both before and after deliberation.
                The process tends to show that deliberation moves opinions away from extremes, toward more moderate responses.
            </div>
        </li>

        <a id=miniPublic></a>
        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Citizens%27_assembly' target=_blank> Deliberative mini-public / Citizens' assembly </a></div>
            <div class=glossaryDefinition>
                A sample group of citizens, often selected randomly by <a href='#sortition'>sortition</a>, 
                who will debate a policy decision.
                The mini-public can spend more time, and discuss more interactively, than would be possible for the general public.
            </div>
        </li>

        <a id=sortition></a>
        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Sortition' target=_blank> Sortition </a></div>
            <div class=glossaryDefinition>
                Randomly selecting people to be leaders or representatives.
                Sortition is a way to ensure that representatives actually represent the overall population,
                compared to elected representatives who tend to have abnormal wealth or influence.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Delphi_method' target=_blank> Delphi method </a></div>
            <div class=glossaryDefinition>
                A group prediction or decision-making process, which iterates between forecasting, debate, and summarizing.
                The Delphi method is found to increase the accuracy of the group's predictions.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Judge%E2%80%93advisor_system' target=_blank> Judge-advisor system </a></div>
            <div class=glossaryDefinition>
                A decision process where roles are separated between "advisors" who provide information & suggestions,
                versus a "judge" who weighs the facts and reaches a conclusion.
                This specialization tends to produce more accurate decisions, due to the diversity of information provided by advisors,
                which mitigates the <a href='https://en.wikipedia.org/wiki/Confirmation_bias'>confirmation bias</a> affecting the judge.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Collaborative_decision-making_software' target=_blank> Collaborative decision-making software </a></div>
            <div class=glossaryDefinition>
                Software that helps a members of a business communicate, share facts, and measure agreement, 
                in order to improve the speed and quality of planning decisions.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Decision_support_system' target=_blank> Decision support system </a></div>
            <div class=glossaryDefinition>
                Software to aid efficient business decision making, by providing convenient data, communication, and outcome prediction.
                Decision support systems tend to be more data-focused than collaborative decision-making systems.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Crowdsourcing' target=_blank> Crowdsourcing </a></div>
            <div class=glossaryDefinition>
                Merging the work of many people, to accomplish a large task.
                Often the large number of diverse people is able to perform the task faster or more thoroughly
                than can be done by a smaller team of experts.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Open_innovation' target=_blank> Open innovation </a></div>
            <div class=glossaryDefinition>
                A policy of collecting design ideas from people outside a decision group,
                as a means of finding more variety of ideas that incorporate a wider range of knowledge.
            </div>
        </li>

    </ul>



    <h2> Group decision theory </h2>

    <div class=glossaryEntry>
        <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Group_decision_making' target=_blank> Group decision making </a></div>
        <div class=glossaryDefinition>
            When many people must make a single decision, they require some way of reconciling their conflicting opinions.
            Common types of groups making decisions, include citizens of a nation, businesses, families, juries, clubs, and so on.
        </div>
    </div>

    <ul class=termLinkList>
        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Collective_intelligence' target=_blank> Collective intelligence </a></div>
            <div class=glossaryDefinition>
                The ability of a group of individuals to make decisions usefully or accurately.
                Collective intelligence may be measured as the difference between the quality of
                a group's decisions, compared to the decisions each member would make individually.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Low-information_rationality' target=_blank> Low-information rationality </a></div>
            <div class=glossaryDefinition>
                People try to minimize mental effort by using shortcuts and assumptions.
                This can cause voters to make choices that may be efficient in terms of mental cost,
                but inefficient in terms of economic cost.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Rational_ignorance' target=_blank> Rational ignorance </a></div>
            <div class=glossaryDefinition>
                When a person does not seek additional information, because the cost in time and effort to acquire that information
                is greater than the expected benefit from using that information to make a better choice.
            </div>
        </li>

    </ul>


    <div class=glossaryEntry>
        <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Public_choice' target=_blank> Public choice </a></div>
        <div class=glossaryDefinition>
            Public choice theory is the application of economic game theory to governance decisions.
            This model of political behavior can be used to explain many apparent inefficiencies in voting and governing,
            particularly the gap between voters' requests and representatives' actions.
        </div>
    </div>

    <ul class=termLinkList>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Evolutionary_game_theory' target=_blank> Evolutionary game theory </a></div>
            <div class=glossaryDefinition>
                Explains how different competitive strategies spread through a population in response to
                various reward and punishment policies.
                Game theory can be used to predict what would result from new participatory democracy methods.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Political_efficacy' target=_blank> Political efficacy </a></div>
            <div class=glossaryDefinition>
                Voters' estimate of how much their attempt to affect government policy will result in benefits,
                versus the amount of effort that attempt would cost them.
                When voters expect low political efficacy, they are unlikely to make the attempt to influence government
                through informed voting, petition, protest, and so on.
            </div>
        </li>

        <li class=glossaryEntry>
            <div class=glossaryTerm><a href='https://en.wikipedia.org/wiki/Low-information_voter' target=_blank> Low-information voter </a></div>
            <div class=glossaryDefinition>
                Voters who do not have much information about candidates' policies, will often vote based
                on superficial stereotypes about the candidates.  This causes voters to elect
                candidates whose policies work against the voters' interests.
            </div>
        </li>

    </ul>


</div>
<div class=tryBottomDiv><a href='/'> Try {{SITE_NAME}} </a></div>


</div>
{% include 'foot.html' %}
