
{% include 'legalHeader.html' %}

<p>
{{COMPANY_NAME}}, whose principal place of business is in {{THE_LOCATION}}, 
is referred to as "THE_COMPANY" in this document. 
</p>


<p>
THE_COMPANY does not store your identity information on its web-servers.
</p>
<p>
THE_COMPANY collects your city from the LOGIN_SERVICE, and uses your city to 
prevent your use of THE_SERVICES for cities other than your own.  Your city is 
stored only in your USER_COOKIE.
</p>
<p>
THE_COMPANY collects a short record of your recent web-page views, stored only 
in your USER_COOKIE.
</p>
<p>
THE_COMPANY collects a browser-identity-number by "fingerprinting" information 
about your web-browser, to prevent theft and reuse of your USER_COOKIE.  The 
browser-identity-number is stored only in your USER_COOKIE.
</p>
<p>
THE_COMPANY collects your ANONYMIZED_IDENTITY from the LOGIN_SERVICE, to store 
records of your THE_CONTENT (votes, written answers), so that you can modify 
your THE_CONTENT, and to limit your allowed number of votes.
</p>


{% include 'legalFooter.html' %}

