{% include 'head.html' %}
<div id=pageAboutUs>


<h1 class=title translate=yes> About Us </h1>
<div id=aboutContent>

    <p>
        {{SITE_NAME}} is led by me, <a href='https://www.linkedin.com/in/chad-brower-5882484' target=_blank>Chad Brower</a>.
        Here is a short history of why I consider this project important.
    </p>

    <h2> Cognitive science </h2>
    <p>
        As long as I can remember, I wanted to improve people's quality of life by helping them act smarter.
        So I earned my first college degree in cognitive science, exploring how we think,
        from the neurological level, to the algorithmic level, to the psychological level. 
        I learned that as an evolutionary strategy, our brains economize on thought,
        which sometimes leads us into poor decisions.
        Therefore, if human intelligence is to be improved, it is best done not through greater individual effort,
        but rather through better tools.
    </p>

    <h2> Artificial intelligence </h2>
    <p>
        Machine intelligence is continually advancing, and seemed the most promising route to assisting human cognition.
        I searched for ways to improve human thinking by supplementing it with artificial intelligence and neural networks.
        I focused on the need to develop natural language understanding,
        so that AI could gain knowledge directly from the written materials which humans create to educate each other.
        Though artificial intelligence promises both huge benefits and huge risks to humanity.
        I was confident that the risks of AI could be avoided --
        until I saw how people handled the risks of climate change.
    </p>

    <h2> Institutional decision making </h2>
    <p>
        I made some efforts to help local cities achieve cleaner transportation infrastructure.
        But it appeared to require enormous effort to produce tiny improvements.
        It was difficult to get local officials to recognize the benefit of citizens' proposals.
        And it was difficult for me to see the benefit of other people's proposals,
        even when those proposals were highly organized city plans or state propositions.
        And these problems also existed within the corporations where I worked.
    </p>

    <h2> Collective intelligence </h2>
    <p>
        Since government and business seemed unlikely to carefully regulate these risks,
        the next most useful way to improve human intelligence was to improve our ability to self regulate.
        To make groups better at self regulating, requires better group decision making, better collective intelligence.
        The most severe problems we face, are issues caused by groups, affecting groups.
        The actions of cities, nations, and transnational businesses affect many neighboring regions and sometimes the whole globe.
    </p><p>
        Meanwhile, information technology connected more and more people together online,
        and there were many examples of how social networks altered nation-level decisions.
        There was great opportunity to connect people in a way that improves their collective decisions.
    </p>

    <h2> Deliberative democracy </h2>
    <p>
        Research in deliberative democracy has shown that enabling group members to exchange reasons
        in a structured way, improves the resulting group decisions in a variety of ways.
        Participants in deliberative democracy finish the process more knowledgeable, more moderate, and more satisfied with the outcome.
    </p><p>
        When we try to make a hard decision, one of the most common deliberative tools is to make a list of the pros & cons,
        based on our facts and priorities.
        Likewise, existing forms of direct democracy, like ballot propositions, usually attempt to inform voters via pro & con arguments.
        Though official ballot proposition arguments are often vague or biased,
        we could instead use the voters to crowd-source a list of pros & cons that most matter to the voters.
    </p><p>
        This led to the first version of {{SITE_NAME}}, a proposal with crowdsourced pros & cons.
        Several other collective intelligence projects reached similar solutions, such as
        <a href='https://consider.it' target=_blank> Consider.it </a> ,
        <a href='https://www.tricider.com' target=_blank> Tricider </a> , and
        <a href='https://kialo.com' target=_blank> Kialo </a> .
        This promising convergence of solutions is the area where {{SITE_NAME}} develops new tools.
    </p>

</div>


<div class=tryBottomDiv><a href='/'> Try {{SITE_NAME}} </a></div>

</div>
{% include 'foot.html' %}

